.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.toolbar {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px 8px;
  background: #333;
  border-bottom: 1px solid #666;
  position: sticky;
  top: 0;
  z-index: 1;
}

.pageTitle {
  font-weight: bold;
  flex: 1 1 auto;
}

.toolbarButton {
  color: #FFF;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 24px;
  padding: 6px 8px 2px 8px;
  line-height: 1;
}

.name {
  margin: 24px 16px 0;
  font-size: 20px;
}

.muscles {
  margin: 8px 16px 0;
  display: flex;
  flex-wrap: wrap;
}

.muscle {
  font-size: 12px;
  color: #AAA;
}

.muscle:first-child {
  font-weight: bold;
}

.muscle:not(:last-child)::after {
  white-space: pre;
  content: ', ';
}

.chartRoot {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.parameters,
.periods {
  display: flex;
  margin: 8px 16px 0;
  gap: 8px;
  font-size: 12px;
  flex-wrap: wrap;
}

.parameter,
.period {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #333;
  outline: none;
  border: none;
  color: inherit;
  font: inherit;
  padding: 8px 4px;
  border-radius: 4px;
}

.parameter.active {
  background: #06F;
  color: #FFF;
}

.period.active {
  background: #CCC;
  color: #000;
}

.records {
  display: flex;
  flex-direction: column;
  margin: 32px 16px 0;
}

.recordTitle {
  display: flex;
  align-items: center;
  padding: 16px 0 8px;
  font-size: 20px;
}

.record {
  display: flex;
  justify-content: space-between;
  color: #BBB;
  padding: 12px 0;
}

.recordMedal {
  color: #FF0;
  margin: 0 8px 4px 0;
}

.performancesTitle {
  display: flex;
  align-items: center;
  padding: 24px 16px 8px;
  font-size: 20px;
  gap: 8px;
}

.performances {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 24px;
}