.root {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  gap: 8px;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}

.title {
}

.weight {
  padding: 6px 4px 4px 4px;
  background: #444;
  border-radius: 4px;
}

.separator:last-child {
  display: none;
}
