.completed {
  background: #060;
}

td.setNumValue {
  text-align: center;
  padding-left: 16px;

  & .increment {
    color: #8eff8e;
  }

  & .decrement {
    color: #ffa877;
  }
}

td.setCompletedValue {
  text-align: right;
  padding-right: 16px;
}

.prevVolumeValue,
.currentWeightValue,
.currentRepsValue {
  text-align: center;
}

.input {
  min-width: 0;
  width: 100%;
  text-align: center;
  border: none;
  background: transparent;
  color: #fff;
  font: inherit;
  outline: none;
}

.input:disabled {
  -webkit-text-fill-color: #fff;
  -webkit-opacity: 1;
  color: #fff;
  opacity: 1;
}

.setCompletedButton {
  color: #FFF;
  border: none;
  background: #888;
  border-radius: 4px;
  padding: 2px 6px 4px 6px;
  display: flex;
  margin: auto 0 auto auto;
}

.completed .setCompletedButton {
  background: #0B0;
}

.recordMedal {
  color: #FF0;
}
