.exercise {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.exerciseName {
  display: flex;
  color: #08F;
  font-weight: bold;
  font-size: 20px;
}

.timer {
  margin: 8px 0 0 0;
}

.sets {
  margin: 0 -16px;

  th, td {
    padding: 12px 4px;
    vertical-align: middle;
  }
}

th.setNumHeader {
  text-align: left;
  padding-left: 16px;
}

th.setCompletedHeader {
  text-align: right;
  padding-right: 20px;
}

.prevVolumeHeader,
.currentWeightHeader,
.currentRepsHeader {
  text-align: center;
}

.setNumHeader {
  width: 15%;
}

.prevVolumeHeader {
  width: 30%;
}

.currentWeightHeader {
  width: 15%;
}

.currentRepsHeader {
  width: 20%;
}

.setCompletedHeader {
  width: 20%;
}

.addSetButton {
  margin: 8px 0 0;
  background: #444;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: inherit;
  padding: 12px 12px 10px 12px;
  line-height: 1;
}

.sheetHeader {
  padding: 24px 16px;
  border-bottom: 1px solid #666;
  text-align: center;
}

.sheetActions {
  display: flex;
  flex-direction: column;
  margin: 16px 16px 64px;
  border-radius: 16px;
  background: #444;
  padding: 4px 0;
}

.sheetAction {
  display: flex;
  gap: 16px;
  padding: 16px;
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;

  :first-child {
    width: 32px;
  }

  &.danger {
    color: #faa;
  }
}

.sheetAction:not(:first-child) {
  border-top: 1px solid #666;
}

.lightMode,
.mediumMode,
.heavyMode {
  &::before {
    display: inline-block;
    content: '';
    width: 2px;
    height: 100%;
    padding: 3px 0 2px 0;
    margin: -3px 8px 0 -10px;
  }
}

.lightMode {
  &::before {
    content: '';
    background: #8F8;
  }
}

.mediumMode {
  &::before {
    content: '';
    background: #FF0;
  }
}

.heavyMode {
  &::before {
    content: '';
    background: #F84;
  }
}
